@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.section-one {
    background-color: #0A0908;
}

.image {
    position: absolute;
    width: 100%;
    background-color: #0A0908;
}

.image img {
    width: 70%;
    align-items: center;
    opacity: 0.4;
    margin-left: 15%;
}

.nav-content {
    position: relative;
    display: flex;
    width: 70%;
    margin: auto;
    background-color: #0A0908;
    justify-content: space-between;
}

.logo {
    margin-top: 20px;
}

.logo:hover {
    cursor: pointer;
}

.logo img {
    width: 8rem;
}

.nav-content ul {
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
}

.nav-content ul li {
    list-style: none;
    margin-left: 35px;
    font-weight: 900;
}

.nav-content a {
    text-decoration: none;
    color: #EAE0D5;
}

a:hover {
    background-color: #C6AC8F;
    padding: 0.6rem;
    text-decoration: underline 0.1rem solid #0A0908;
}

.project {
    color: #EAE0D5;
    position: relative;
    text-align: center;
}

.line {
    width: 40%;
    margin: auto;
    font-weight: 800;
}

.section-two hr,
.line hr {
    border: 2px solid #C6AC8F;
}

.project>:first-child {
    margin-top: 9%;
}

.project .in-line {
    margin: 3.5rem 0 3.5rem 0;
}

.in-line h1 {
    font-size: 300%;
    font-weight: 900;
}

.in-line p {
    font-weight: 900;
}

.project-description {
    margin-top: 3rem;
}

.project-description p {
    padding-bottom: 0.3rem;
}

/* end of first section begining of second section */

.section-two {
    margin-top: 180px;
    background-color: #0A0908;
    color: #EAE0D5;
    border-top: 0.2rem solid #EAE0D5;
}

.section {
    width: 70%;
    margin: auto;
    text-align: center;
}

.section-two .line {
    margin-top: 8rem;
    margin-bottom: 2.5rem;
    width: 8%;
    text-align: center;
}

.section-two h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.section-two p {
    padding-bottom: 0.3rem;
}

.more-description {
    padding-bottom: 8rem;
}

button {
    margin-top: 5rem;
    padding: 1rem 1.7rem;
    background-color: #0A0908;
    color: #EAE0D5;
    border: 0.2rem solid #C6AC8F;
    font-weight: 700;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

button i {
    margin-left: 1rem;
    /* font-size: 1.2rem; */
}