@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.section-one {
    background-color: #0A0908;
}

.image {
    position: absolute;
    width: 100%;
    background-color: #0A0908;
}

.image img {
    width: 70%;
    align-items: center;
    opacity: 0.4;
    margin-left: 15%;
}

.nav-content {
    position: relative;
    display: flex;
    width: 70%;
    margin: auto;
    background-color: #0A0908;
    justify-content: space-between;
}

.logo {
    margin-top: 20px;
}

.logo:hover {
    cursor: pointer;
}

.logo img {
    width: 8rem;
}

.nav-content ul {
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
}

.nav-content ul li {
    list-style: none;
    margin-left: 35px;
    font-weight: 900;
}

.nav-content a {
    text-decoration: none;
    color: #EAE0D5;
}

a:hover {
    background-color: #C6AC8F;
    padding: 0.6rem;
    text-decoration: underline 0.1rem solid #0A0908;
}

.project {
    color: #EAE0D5;
    position: relative;
    text-align: center;
}

.line {
    width: 40%;
    margin: auto;
    font-weight: 800;
}

.courses-line hr,
.section-two hr,
.line hr {
    border: 2px solid #C6AC8F;
}

.project>:first-child {
    margin-top: 9%;
}

.project .in-line {
    margin: 3.5rem 0 3.5rem 0;
}

.in-line h1 {
    font-size: 300%;
    font-weight: 900;
}

.in-line p {
    font-weight: 900;
}

.project-description {
    margin-top: 3rem;
}

.project-description p {
    padding-bottom: 0.3rem;
}

/* end of first section begining of second section */

.section-two {
    margin-top: 180px;
    background-color: #0A0908;
    color: #EAE0D5;
    border-top: 0.2rem solid #EAE0D5;
}

.section {
    width: 70%;
    margin: auto;
    text-align: center;
}

.section-two .line {
    margin-top: 8rem;
    margin-bottom: 2.5rem;
    width: 8%;
    text-align: center;
}

.section-two h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.section-two p {
    padding-bottom: 0.3rem;
}

.more-description {
    padding-bottom: 8rem;
}

button {
    margin-top: 5rem;
    padding: 1rem 1.7rem;
    background-color: #0A0908;
    color: #EAE0D5;
    border: 0.2rem solid #C6AC8F;
    font-weight: 700;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

button i {
    margin-left: 1rem;
}

/* end of about us section, beginning of courses offered */

.section-three {
    color: #EAE0D5;
    background-color: #0A0908;
    /* background: url(./images/annie-unsplash.jpg); */
    border-top: 0.3rem solid #EAE0D5;
}

.section-three img {
    position: absolute;
    opacity: 0.3;
}

.our-courses {
    width: 70%;
    margin: auto;
    padding-bottom: 6rem;
    position: relative;

}

.our-courses .courses-line {
    text-align: center;
    margin: 8rem 0 3rem 0;
}

.courses-line hr {
    width: 10%;
    margin: auto;
}

.our-courses .courses-line h2 {
    margin-top: 3rem;
}

.courses {
    display: flex;
    justify-content: space-between;
}

.courses ul li {
    padding-bottom: 1rem;
    margin-left: 2rem;
    list-style-type: square;
}

.courses .container {
    /* border: 0.2rem solid #C6AC8F; */
    width: 24%;
    background-color: #EAE0D5;
    color: #0A0908;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem #C6AC8F;
}

.container h3 {
    text-align: center;
    margin: 1rem 0 1.5rem 0;
}

/* end of courses offered, beginning of clients reviews */

.section-four {
    background-color: #0A0908;
    color: #EAE0D5;
    border-top: 0.3rem solid #EAE0D5;
}

.reviews {
    width: 70%;
    margin: auto;
}

.reviews .courses-line hr {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.reviews h3 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 1.8rem;
}

.review-card {
    display: flex;
    justify-content: space-between;
}

.client-image {
    position: absolute;
}

.client-image img {
    width: 22rem;
    height: 20rem;
}

.container-two {
    position: relative;
    margin-left: 15rem;
}

.client-name {
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 0.5rem 0.5rem;
    background-color: #EAE0D5;
}

.client-name h4 {
    color: #0A0908;

}


.clients-info {
    margin: 0 2rem 5rem 2rem;
    width: 40%;
}

.client-review {
    width: 100%;
    height: 12.7rem;
    background-color: #EAE0D5;
    color: #0A0908;
    padding: 1rem;
}

.reviews button {
    margin-left: 40%;
    margin-bottom: 5rem;
}